{% extends "page.html" %}

{% block subtitle %}{{ _("Confirm Delete") }}{% endblock %}

{% block main_content %}
  <section class="module">
    <div class="module-content">
      {% block form %}
        <p>{{ _('Are you sure you want to delete issue - {0}?').format(issue_number) }}</p>
        <form id='ckanext-issues-confirm-delete' action="{% url_for 'issues_delete', dataset_id=pkg.id, issue_number=issue_number %}" method="post">
          <div class="form-actions">
            <button class="btn btn-danger pull-left" type="submit" name="cancel" >{{ _('Cancel') }}</button>
            <button class="btn btn-primary" type="submit" name="delete" >{{ _('Confirm Delete') }}</button>
          </div>
        </form>
      {% endblock %}
    </div>
  </section>
{% endblock %}
